html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  background-color: #0c0e10;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
}

.wrapper {
  max-width: 560px;
  width: 90vw;
  height: 50vh;
  margin: 2rem auto;
  display: grid;
  grid-template-rows: 9fr 1fr;
  background-color: whitesmoke;
}

.listContainer {
  padding: 1rem;
  border: 1px solid grey;
  overflow: scroll;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
}

.list li {
  padding: 0.25rem;
  border-bottom: 1px solid #efefef;
}

.inputContainer {
  background-color: #1b2b34;
  border: 1px solid grey;
  border-top: none;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

button,
input {
  font-size: 18px;
  border-radius: 8px;
}

.inputContainer > input {
  padding: 0.5rem;
  width: 10ch;
  border: whitesmoke;
}

.addPlayerMove {
  background-color: #0dbfff;
  color: whitesmoke;
  border: none;
  padding: 0.5rem 1rem;
}

.export {
  border: none;
  background-color: grey;
  color: whitesmoke;
  padding: 0.5rem 1rem;
}

.newGame {
  border: none;
  background-color: #ff3c41;
  color: whitesmoke;
  padding: 0.5rem 1rem;
}
